<div>
  <swiper-container loop="true" navigation="true" speed="500" space-between="10" [slidesPerView]="slidesPerView" pagination="true">
    <swiper-slide
      ><img src="https://picsum.photos/1000/500?random=1"
    /></swiper-slide>
    <swiper-slide
      ><img src="https://picsum.photos/1000/500?random=2"
    /></swiper-slide>
    <swiper-slide
      ><img src="https://picsum.photos/1000/500?random=3"
    /></swiper-slide>
  </swiper-container>
</div>
<div class="e-card playing">
  <div class="image"></div>

  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>

  <div class="infotop">
    ella musk
    <br />

    <div class="desc">
      The website was super easy to use, and my order arrived even faster than
      expected. The quality was exactly what I wanted I’m definitely shopping
      here again!
    </div>
  </div>
</div>
