<div class="rating-section">
  <div class="rating-badge">Top Rating</div>
  <div class="product-container">
    <swiper-container
      loop="true"
      navigation="false"
      speed="1000"
      space-between="10"
      [slidesPerView]="slidesPerView"
      pagination="false"
      autoplay="true"
    >
      <swiper-slide>
        <div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
    </swiper-container>
  </div>
  <div class="product-container">
    <swiper-container
      loop="true"
      navigation="false"
      speed="500"
      space-between="10"
      [slidesPerView]="slidesPerView"
      pagination="false"
      autoplay="true"
      reverseDirection="false"
    >
      <swiper-slide>
        <div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
      <swiper-slide
        ><div class="card">
          <p class="heading">Popular this month</p>
          <p>Powered By</p>
          <p>Uiverse</p>
        </div></swiper-slide
      >
    </swiper-container>
  </div>
  <div class="rating-load">Load more products</div>
</div>
